*{
    width: 0 auto;
    padding: 0;
    box-sizing: border-box;
    margin: 0px;
}
body{
    background: url("assets/images/fundo cis.jpeg")
    no-repeat center center;
    background-size: cover;
    height: 92vh;
    overflow: hidden;
    background-color:#151515 ;    
    top: 0px;
    left: 0px;
    right: 0px;
}
.area-login{
    display: flex;
    justify-content:center;
    align-items: center;
    height:107vh;
    align-items: center;
    justify-content:center;
    background-color: rgba(17, 17, 17, 0.726);
}
.login{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(255, 255, 255);
    width: 38vh;
    height: 45vh;
    padding: 4vh;
    border-radius: 1vh;
}
.input::placeholder{
    color: rgb(24, 24, 24);
}
.login form{
    width: 100%;
    display: flex;
    flex-direction: column;
}
.login input{
    margin-top: 1vw;
    background-color: rgb(214, 214, 214);
    border: none;
    height: 5vh;
    border-radius: 2vh;
    color: rgb(24, 24, 24);
    padding-left: 1vh;
}
.login img{
    width: 30vh;
    height: auto;
}
.button{
    background-color: rgb(206, 206, 206);
    width: 30vh;
}
form [type="submit"]{
    display: block;
    text-transform: uppercase;
    font-weight: bold;
    background: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    font-size: 2vh;
}
form :hover[type="button"]{
    background: linear-gradient(90deg,#83b1f6 0%,#0d38cf 36%, #a108e8 100%);
    color:rgb(255, 255, 255);
    transition-delay: 0.1s;
    transition-duration: 0.7s;
}
.voltar {
    color:rgb(0, 0, 0); 
    padding-top: 3vh;
    font-size: 3vh;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
a{
    text-decoration: none;
}