
header {
 background:white;
    
    padding: 25px;

    form{
        input[type="text"]{
            background: white;
            width: 100%;
            border-radius: 100px;
            border: none;
            padding: 10px 20px;
        }
        button{
            background: none;
            border: none;
            position: absolute;
            right: 30px;
        }
    }
    ul{
        li{
            position: relative;
            span.notificacao{
                color: white;
                background: linear-gradient(90deg,#83b1f6 0%,#0d38cf 36%, #a108e8 100%);;


                position: absolute;
                top: -10px;
                left: 5px;

                font-size: 10px;
                width: 15px;
                height: 15px;

                border-radius: 100%;
                
            }

            a{
                font-size: 16px;
                font-weight: bold;
                color: #f5f6f7;
                svg{
                    font-size: 23px;
                }
                &:hover{
                    color: #37d378;
                }
            }
        }
    }
}


